.wrapper {
    position: fixed;
    bottom: 0;
    right: 120px;
    z-index: 10;
    width: 320px;
    height: 396px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    margin-bottom: 10px;
    border-radius: 6px;
    overflow: hidden;
    display: none;
    flex-direction: column;
    justify-content: space-between;

    &.open {
        display: flex;
    }

    .header {
        display: flex;
        align-items: center;
        padding: 14px;
        background-color: var(--content-bg);
        position: relative;

        .avatar {
            width: 35px;
            height: 35px;
            margin-right: 8px;

            img {
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 100%;
                object-fit: cover;
            }
        }

        .action {
            .name {
                font-size: 1.2rem;
                font-weight: 600;
            }

            .status {
                display: flex;
                align-items: center;

                .dot {
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-radius: 100%;
                    background-color: var(--theme-color);
                    margin-right: 4px;
                }

                .online {
                    font-size: 1rem;
                    font-weight: 500;
                }
            }
        }

        .close-icon {
            position: absolute;
            right: 14px;
            padding: 6px;
            border-radius: 100%;
            cursor: pointer;

            &:hover {
                background-color: var(--hover-overlay);
            }
        }
    }

    .body {
        flex: 1;
        padding: 14px;
        background-color: var(--content-bg);
        overflow-y: scroll;

        .message-fri {
            margin-bottom: 6px;

            .title {
                display: inline-block;
                padding: 10px 14px;
                background-color: #fcf6ee;
                border-radius: 20px 20px 20px 0;
                max-width: 80%;
                text-align: left;
                font-size: 1.3rem;
            }

            .timer {
                display: block;
                font-size: 1rem;
                font-weight: 500;
                color: var(--text-second);
                margin: 4px 0 0;
            }
        }

        .message {
            text-align: right;
            margin-top: 6px;

            .title {
                display: inline-block;
                padding: 10px 14px;
                background-color: var(--theme-color-shade);
                border-radius: 20px 20px 0 20px;
                max-width: 80%;
                text-align: left;
                font-size: 1.3rem;
            }

            .timer {
                display: block;
                font-size: 1rem;
                font-weight: 500;
                color: var(--text-second);
                margin: 4px 0 0;
            }
        }
    }

    .footer {
        padding: 14px;
        background-color: var(--content-bg);

        .input {
            height: 40px;
            width: 100%;
            padding: 8px 16px;
            border-radius: 30px;
            background-color: #eee;

            input {
                background-color: #eee !important;
                font-size: 1.4rem;
            }
        }

        .send-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.8rem;
            padding-left: 8px;
            color: #515184;
        }
    }
}
