.wrapper {
    padding: 20px 0;

    .inner {
        margin: 0 auto;

        .body {
            width: 626px;
        }

        .right {
            width: 316px;
            padding-right: 15px;
        }
    }
}
